### project-related files
dv/localsettings.py
docker/web.env

### generic stuff
__pycache__/
node_modules/

provisioning/salt-config/minion
provisioning/salt-pillar/settings.sls

docker-compose.override.yml

### sublime
*.sublime-*
