### project-related files
dv/localsettings.py
assets/bundles/
static/
!static/stub

### generic stuff
__pycache__/
node_modules/

.vagrant/
Vagrantfile

provisioning/salt-config/minion
provisioning/salt-pillar/settings.sls

