### project-related files
dv/localsettings.py

### generic stuff
__pycache__/
node_modules/

provisioning/salt-config/minion
provisioning/salt-pillar/settings.sls

schema.xml

### sublime
*.sublime-*
