version: '2'
services:
  solr:
    image: solr:6.6.4
    user: root
    environment:
      - TZ=Europe/Brussels
      - SOLR_HOME=/solr_home
      - SOLR_HEAP=256m
      - SOLR_TIMEZONE=CET
      - SOLR_LOG_LEVEL=CONFIG
      - SOLR_LOGS_DIR=/solr_logs
      - INIT_SOLR_HOME=yes
      # LOG4J_PROPS=/var/solr/log4j.properties
    volumes:
      - solrhome:/solr_home
      - solrlogs:/solr_logs
    restart: unless-stopped
    command: ["solr-precreate", "eeagrants"]


  web:
    image: eftafmo/dataviz:20210408
    environment:
      - NUM_WORKERS=3
    env_file:
      - docker/azure-web.env
    volumes:
      - weblogs:/var/local/logs
      - webdb:/var/local/db
      - webroot:/var/local/webroot
      - upload:/var/local/upload
    restart: unless-stopped

  nginx:
    domainname: we-p-fmo-docker-dataeeagrantsorg-rg
    image: nginx:1.21.1
    depends_on:
      - web
    volumes:
      - webroot:/var/local/webroot:ro
      - nginxconfig:/etc/nginx/conf.d
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 100M
    restart: unless-stopped
    command: ["/bin/bash", "/etc/nginx/conf.d/entrypoint.sh"]
    ports:
      - 80:80
      - 443:443

volumes:
  webroot:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-webroot
      storage_account_name: wepfmodockerstorage
  webdb:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-webdb
      storage_account_name: wepfmodockerstorage
  weblogs:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-weblogs
      storage_account_name: wepfmodockerstorage
  solrhome:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-solrhome
      storage_account_name: wepfmodockerstorage
  solrlogs:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-solrlogs
      storage_account_name: wepfmodockerstorage
  nginxconfig:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-nginxconfig
      storage_account_name: wepfmodockerstorage
  upload:
    driver: azure_file
    driver_opts:
      share_name: we-p-fmo-dockervolume-upload
      storage_account_name: wepfmodockerstorage
