bleach==4.1.0
django-ckeditor==6.1.0
django-countries>=7.2,<7.3
django-enumfields>=2.1.1,<2.2
django-environ
django-haystack>=3.0,<4.0
djangorestframework>=3.12.4,<3.13
Django>=3.2.3,<3.3
elasticsearch>=7.0.0,<8.0.0
gunicorn
Jinja2>=3.0.3,<4.0
lxml>=4.1,<5
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
pymssql==2.2.2
requests==2.26.0
sentry-sdk
