bleach>=2,<=3
django-ckeditor==5.3.0
Django>=1.11,<1.12
Jinja2>=2.9.6,<2.10
pyexcel-io==0.3.2
pyexcel>=0.4.2,<0.5
pyexcel-xls>=0.3.1,<0.4
pyexcel-xlsx>=0.3.0,<0.4
django-enumfields>=0.8.2,<0.9
django-material>=1.0.0,<1.1
django-webpack-loader>=0.5,<0.6
pysolr==3.6.0

# django-haystack>=2.7.dev0,<2.8
# waiting for a release containing pull request 1526
git+git://github.com/django-haystack/django-haystack.git@3f6016e107adefa40a681fa467d6fa9b8b431426

djangorestframework>=3.6.3,<3.7
django-countries>=4.6,<4.7