version: '2'
services:
  solr:
    container_name: eeagtest_solr
    ports:
    - "127.0.0.1:8984:8983"

  web:
    container_name: eeagtest_web
    volumes:
    - ../upload:/var/local/upload

  nginx:
    container_name: eeagtest_nginx
    ports:
    - "8889:8888"

  solrvolumefixer:
    container_name: eeagtest_solrvolumefixer
