services:
  web:
    build:
      context: .

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./docker/test-nginx:/etc/nginx/templates
      - webroot:/var/www/html
    ports:
      - "127.0.0.1:8000:80"
