SECRET_KEY=not-so-secret
ALLOWED_HOSTS=*
SENTRY_DSN=https://sentry-random-hash-1:sentry-random-hash-2@sentry.io/12345
SENTRY_ENVIRONMENT=prod
# eeagrants prod
GOOGLE_ANALYTICS_PROPERTY_ID=UA-39524254-3

MSSQL_SERVER=
MSSQL_USERNAME=
MSSQL_PASSWORD=
MSSQL_DATABASE=GrACE
