SECRET_KEY=not-so-secret
ALLOWED_HOSTS=*
FRONTEND_SENTRY_DSN=https://sentry-random-hash@sentry.io/12345
SENTRY_DSN=https://sentry-random-hash-1:sentry-random-hash-2@sentry.io/12345
# eeagrants prod
GOOGLE_ANALYTICS_PROPERTY_ID=UA-12345-1
