{%- set name = "uWSGI app" %}
{%- set command  = "/usr/bin/uwsgi --ini " + conf_file %}

{%- if IS_DEV -%}
{%- include 'application/files/tmux.service.jinja' with context %}
{%- else -%}

[Unit]
Description={{ settings['project_name'] }} {{ name }}
After=syslog.target

[Service]
Type=notify
ExecStart={{ command }}
User={{ settings.user }}
Group={{ settings.group }}
Restart=on-failure
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
{%- endif %}
