<div class="input-group">
  <div class="input-box input-block">
    <label for="organisation-project-name-facet">Project</label>
    <select multiple name="project_name" id="organisation-project-name-facet"
            form="main-search-form" class="main-auto-submit facet-select"
            data-kind="{{ kind|lower }}" data-field="project_name">
      {% for value in current_value %}
        <option value="{{ value }}" selected>{{ value }}</option>
      {% endfor %}
    </select>
  </div>
</div>
