<div class="input-group">
  <div class="input-box input-block">
    <label for="project-theme-facet">Project theme</label>
    <select multiple name="theme_ss" id="project-theme-facet" form="main-search-form"
            class="main-auto-submit facet-select">
      {% for value in values %}
        {% if value.1 %}
          <option value="{{ value.0 }}"
                  {% if value.0 in current_value %}selected{% endif %}>
            {{ value.0 }} ({{ value.1 }})
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
