font-family: 'Arial', 'Open sans', sans-serif;

a {
  color: #3D90F3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



.btn-link,
.btn-anchor,
.no-btn {
  font: inherit;
  background: transparent;
  padding: 0;
  border: 0;
}

.btn-link,
.btn-anchor {
  color: #3D90F3;
}

.btn-link:hover,
.btn-anchor:hover {
  text-decoration: underline;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
