font-family: 'Arial', 'Open sans', sans-serif;

a {
  color: #3D90F3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
