@font-face {
  font-family: 'eeag-icons';
  src:
    url('../fonts/eeag-icons.ttf?ot4qnz') format('truetype'),
    url('../fonts/eeag-icons.woff?ot4qnz') format('woff'),
    url('../fonts/eeag-icons.svg?ot4qnz#eeag-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eeag-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-dropdown:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}

