.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.footer p {
  margin: 0;
}

.footer .footer-links {
  margin-top: 1.5 rem;
}

.footer a {
  color: #5274bc;
  margin-right: 2rem;
}

.modal-popup {
  position: fixed;
  padding: 3rem 0.5rem 1rem 2rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 4px #888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 201;
}

.modal-popup .content {
  height: 100%;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #898989;
}
