.header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.header-inner {
  display: flex;
  align-items: center;
}


/* Menu */
.header-menu {
  flex-grow: 2;
  align-self: stretch;
  margin-right: 1em;
  margin-left: 1em;
  /*font-size: 18px;*/
}
.header-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header-menu ul::after {
  content: '';
  display: block;
  clear: both;
}
.header-menu ul > li {
  float: left;
}
.header-menu a {
  display: block;
  padding: 1.5rem;
  border-bottom: 2px solid transparent;
  color: inherit;
}
.header-menu a:hover {
  text-decoration: none;
  border-bottom-color: #50B9FF;
}
.header-menu a.active {
  border-bottom-color: #005494;
  color: #005494;
  font-weight: 600;
  cursor: default;
}

/* Search */
@media (max-width: 768px) {
  .header-search {
    display: none;    
  }
}
.header-search input,
.header-search button {
  padding: .5rem 1rem;
  border: 0;
  border-radius: 1.5rem;
  vertical-align: middle;
  font: inherit;
  background: transparent;
}
.header-search input:not(:placeholder-shown),
.header-search input:focus {
  outline: none;
  background: #F2F2F2;
}
.header-search button {
  padding: 0;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
}
.header-search input:focus + button,
.header-search button:hover,
.header-search button:focus {
  background-color: #50b9ff;
  color: #fff;
}
.header-search button .icon {
  vertical-align: -.1em;
}

/* Toggle buttons */
.header-toggle {
  padding: .5rem;
  border: 0;
  background: transparent;
  font-size: 1.2em;
}
@media (min-width: 769px) {
  .header-toggle { display: none; }
}
