/* nav */

.homepage-nav {
  margin-bottom: 2rem;
}

.homepage-nav {
  -js-display: flex;
  display:flex;
  justify-content: center;
}
.homepage-nav a {
  width: 33%;
  font-size: 2rem;
  color: rgb(0, 117, 188);
  max-width: 28rem;
  padding: 1.5rem;
  transition: .2s;
  border-top: 4px solid #355785;
}
@media(max-width:700px){
  .homepage-nav a {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
.homepage-nav a:hover {
  text-decoration: none;
}
.homepage-nav a:active {
  background: #f8f8f8;
}

@media (max-width: 480px) {
  .homepage-nav a {
    border-right: 1px solid #ddd;
  }
  .homepage-nav a:last-child {
    border-right: 0;
  }
}
@media (min-width: 481px) {
  .homepage-nav {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .homepage-nav a {
    margin: 0 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }
  .homepage-nav a:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
  }
}

/* search */

.homepage-search {
  -js-display: flex;
  display:flex;
  margin: 1rem auto;
  align-items: strech;
  justify-content: center;
  max-width: 55rem;
  // box-shadow: 0 1px 3px rgba(0,0,0,.2);
  border: 1px solid #eee;
}
.homepage-search input,
.homepage-search a {
  box-sizing: border-box;
  padding: 1rem;
  border: 0;
  font: inherit;
  line-height: inherit;
  background: #fff;
  border: 1px solid #355785;
  border-right: none;
}
.homepage-search input {
  flex-grow: 4;
}
.homepage-search a {
    flex-grow: 1;
    border-left: 1px solid #eee;
    color: white;
    background: #355785;
}


.homepage-search-wrapper {
    padding: 1rem;
    max-width: 57rem;
    margin-left: auto;
    border-top: 5px solid #355785;
    margin-right: auto;
    box-shadow: 0px 0px 3px #aaa;
}


.homepage-subtitle {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.small-screen{
  display: none;
}

.homepage-section {
  padding: 0;
}

@media(max-width: 760px){
  .section {
    padding: 0;
  }

  .small-screen {
    display: block;
    font-size: 1.2rem;
  }

  .homepage-section {
    border-top: none!important;
    padding-top: 0!important;
    padding-bottom: 0!important;

  }

  .section h2 {
    margin: 1rem;
    font-size: 2rem;
  }

   .homepage-search-wrapper ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }

  .homepage-nav {
    margin-bottom: 1rem;
  }

  .homepage-search-wrapper {
    border-top: none;
    box-shadow: none;
    padding: 0;
    margin-top:.5rem;
  }

}

