@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?12ndiv');
  src:  url('../fonts/icomoon.eot?12ndiv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?12ndiv') format('truetype'),
    url('../fonts/icomoon.woff?12ndiv') format('woff'),
    url('../fonts/icomoon.svg?12ndiv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu4:before {
  content: "\e903";
}
.icon-menu3:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-location2:before {
  content: "\e948";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-search:before {
  content: "\e986";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-cross:before {
  content: "\ea0f";
}
