.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 769px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.page-body-inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .page-body-inner {
    display: flex;
    align-items: stretch;
  }
}

/* Main */
@media (min-width: 769px) {
  .main {
    flex-grow: 2;
    margin-right: 3rem;
  }
}

/* Aside */
@media (min-width: 769px) {
  .aside {
    flex-shrink: 0;
    min-width: 240px;
    /*width: 320px;*/
  }
}


@media (min-width: 1400px) {
  main.main {
    display: flex;
    margin-right: 2rem;
  }

  main.main .lg-column {
    width: 50%;
  }

  main.main .lg-column:first-of-type{
    margin-right: 4rem;
  }

  .grant-dataviz select{
    top: 57px;
    left: -4px;
  }

  .grant-dataviz h2 {
    margin-bottom: 4rem;
  }

  .container {
    max-width: 1380px;
  }
}
