@import url('eeag-icons.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

@import url('layout.css');
@import url('header.css');
@import url('footer.css');

@import url('search.css');
@import url('pagination.css');


@import url('buttons.css');
@import url('forms.css');

@import url('sidebar-results.css');
@import url('sidebar-filters.css');

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3334;
  color: #444;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
}

small,
.small {
  font-size: 1.2rem;
}

.muted {
  color: #898989;
}

a {
  color: #3D90F3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.muted:hover {
  color: #3D90F3;
}

.no-list {
  list-style: none;
  padding-left: 0;
}
.no-margin {
  margin: 0;
}

.align-center { text-align: center; }

/* page sections */
.page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #005494;
  font-weight: normal;
  font-size: 2.4rem;
}

.section {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section-header {
  margin-bottom: 2rem;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #005494;
  font-weight: normal;
  font-size: 2.4rem;
}
