
@import url('icons.css');
@import url('open-sans-fonts.css');

@import url('layout.css');
@import url('header.css');
@import url('footer.css');
@import url('global-filters.css');

@import url('search.css');
@import url('pagination.css');
@import url('select2.css');


@import url('homepage.css');


@import url('buttons.css');
@import url('forms.css');

@import url('sidebar-results.css');
@import url('sidebar-filters.css');

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.3334;
  background-color: #fff;
  color: #444;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
}

small,
.small {
  font-size: 1.2rem;
}

.muted {
  color: #898989;
}

a {
  color: #3D90F3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.muted:hover {
  color: #3D90F3;
}

.no-list {
  list-style: none;
  padding-left: 0;
}
.no-margin {
  margin: 0;
}

.align-center { text-align: center; }

/* page sections */
.page-title {
  margin-top: 0!important;
  margin-bottom: 2rem!important;
  color: rgb(0, 117, 188);
  font-weight: normal;
  font-size: 2.4rem!important;
}

.section {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-header {
  margin-bottom: 2rem;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #005494;
  font-weight: normal;
  font-size: 2.4rem;
}

.grant-dataviz {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
  position: relative;
}

.grant-dataviz h2 {
  text-align: left;
  font-weight: 400;
  color: rgb(0, 117, 188);
  margin-top: 0;
  margin-bottom: 2rem;
  display: inline-block;
}
@media (max-width: 950px){
  .grant-dataviz h2 {
    margin-bottom: .5rem;
  }
}

h2 {
  font-size: 2rem;
}

@media (max-width: 600px){
  #funding-map {
    /* display: none;*/
  }
}

@media (min-width: 764px) {
  .sticky {
      position: -webkit-sticky;
      position: sticky;
  }
}

#global-filters.sticky {
    position: -webkit-sticky;
    position: sticky;
}

@media (max-width: 764px) {
  .header.sticky {
      position: -webkit-sticky;
      position: sticky;
  }
}

/*iphone stuff*/
@media (max-width: 760px){
  input {
    -webkit-appearance: none!important;
    -webkit-border-radius: 0!important;
    border-radius: 0;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
