@import url('eeag-icons.css');
@import url('open-sans-fonts.css');

@import url('layout.css');
@import url('header.css');
@import url('footer.css');
@import url('global-filters.css');

@import url('search.css');
@import url('pagination.css');


@import url('homepage.css');


@import url('buttons.css');
@import url('forms.css');

@import url('sidebar-results.css');
@import url('sidebar-filters.css');

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3334;
  background-color: #fff;
  color: #444;
}

/* this is the default in all browsers except for ie9.
 * TODO: remove it and use normalize.css
 */
svg:not(:root) {
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
}

small,
.small {
  font-size: 1.2rem;
}

.muted {
  color: #898989;
}

a {
  color: #3D90F3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.muted:hover {
  color: #3D90F3;
}

.no-list {
  list-style: none;
  padding-left: 0;
}
.no-margin {
  margin: 0;
}

.align-center { text-align: center; }

/* page sections */
.page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #005494;
  font-weight: normal;
  font-size: 2.4rem;
}

.section {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section-header {
  margin-bottom: 2rem;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #005494;
  font-weight: normal;
  font-size: 2.4rem;
}

.grant-dataviz {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
  position: relative;
}

.grant-dataviz h2 {
  text-align: left;
  font-weight: 400;
  color: rgb(35, 97, 146);
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
}

@media (max-width: 600px){
  #funding-map {
    /* display: none;*/
  }
}


#global-filters {
  position: sticky;
  top: 0;
  z-index: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
