.search-top {
  overflow: hidden;
  background-color: #0F609B;
  color: #fff;
}
.search-top .page-title {
  color: inherit;
}
@media (max-width: 768px) {
  .search-top-inner {
    padding-top: 2rem;
  }
  .search-top .page-title {
    display: none;
  }
}
@media (min-width: 769px) {
  .search-top-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* Search form */
.search-form .input-box input {
  width: 100%;
  border-color: transparent;
}
@media (max-width: 768px) {
  .search-form {
    display: block;
  }

  .search-form .input-box input {
    width: auto;
  }
  .search-form button {
    margin-left: -4px;
  }
}
@media (min-width: 769px) {
  .search-form::after {
    content: '';
    display: block;
    clear: both;
  }
  .search-form .input-box,
  .search-form button {
    float: left;
  }
  .search-form .input-box {
    width: 480px;
  }
}

/* Search tabs */
.search-tabs input {
  display: none;
}
.search-tabs input[type="radio"]:checked + label {
  font-weight: bold;
  position: relative;
}
.search-tabs input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  display: block;
  border: 5px solid transparent;
  border-bottom-color: #fff;
}
.search-tabs label {
  display: inline-block;
  padding: 1.5rem 1rem;
  color: #fff;
}

.search-tabs label:hover {
  text-decoration: none;
  background-color: rgba(255,255,255,.2);
}
.search-tabs .muted {
  color: rgba(255,255,255,.6);
}
@media (max-width: 768px) {
  .search-tabs {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: nowrap;
    overflow: auto;
  }
  .search-tabs .muted {
    display: none;
  }
}
@media (min-width: 769px) {
  .search-tabs {
    position: relative;
    bottom: -2rem;
  }
}


/* Search results listing */
.search-results-header {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}
.search-results-header::after {
  content: '';
  display: block;
  clear: both;
}
.search-results-count {
  float: left;
  font-size: larger;
  color: #005494;
}
.search-results-options {
  float: right;
  color: #898989;
}

@media (min-width: 769px) {
  #toggle-sidebar-filters { display: none; }
}


.search-results-footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ddd;
}


/* Search result */
.search-result {
  margin: 2rem 0;
}
.search-result .country {
  font-size: smaller;
}
.search-result .country img {
  vertical-align: middle;
  border: 1px solid grey;
}
.search-result .title {
  margin: 0 0 .5rem;
  font-weight: normal;
}
.search-result .description {
  margin: 0;
  font-size: smaller;
}
