/* Sidebar results */
.sidebar-results {
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  background: #fff;
}
@media (max-width: 768px) {
  .sidebar-results {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 200;

    width: 220px;
    /*min-width: 200px;*/
    transition: width .3s, height .3s;
    overflow: hidden;
    height: 10rem;
  }

  .sidebar-results.is-expanded-on-mobile {
    height: calc(100% - 8rem);
    width: calc(100% - 2rem);
  }
}
@media (min-width: 769px) {
  .sidebar-results {
    width: 320px;
  }
}

/* Sidebar header */
.sidebar-results .sidebar-header {
  padding: 1rem;
  text-align: center;
  height: 60px;
}
.sidebar-results .sidebar-header strong {
  color: #005494;
  font-size: larger;
}
.sidebar-results .sidebar-header small {
  display: block;
  color: #2FB82A;
}
@media (max-width: 768px) {
  .sidebar-results .sidebar-header {
    padding-bottom: 0;
  }
}

/* Sidebar close */
#close-sidebar-results {
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 2rem;
  color: #898989;
}
@media (min-width: 769px) {
  #close-sidebar-results {
    display: none;
  }
}

/* Sidebar results Tabs */
.sidebar-tabs {
  position: relative;
}

.is-loading .sidebar-tabs::after {
  content: ''; /* loading spinner */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, .8);
}
.sidebar-tab-menu {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sidebar-tab-menu::before {
  content: '';
  position: absolute;
  left: 50%;
  top: .6667em;
  bottom: .6667em;
  border-left: 1px solid #ddd;
}
.sidebar-tab-menu::after {
  content: '';
  display: block;
  clear: both;
}
.sidebar-tab-menu-item {
  box-sizing: border-box;
  float: left;
  display: block;
  width: 50%;
  padding: .6667em .5em;
  text-align: center;
  position: relative;
  color: #898989;
  cursor: pointer;
  background: transparent;
}
.sidebar-tab-menu-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 1em;
  right: 1em;
  height: 3px;
  background: transparent;
}
.sidebar-tab-menu-item:hover {
  text-decoration: none;
  color: #50B9FF;
}
.sidebar-tab-menu-item:hover::after {
  background: #50B9FF;
}
.sidebar-tab-menu-item.active {
  color: #005494;
  font-weight: 600;
}
.sidebar-tab-menu-item.active::after {
  background: #005494;
}
@media (max-width: 768px) {
  .sidebar-tab-menu-item {
    font-size: 1.2rem;
  }
  .sidebar-tab-menu-item .counter {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (min-width: 769px) {
  .sidebar-tab-menu-item .counter {
    display: none;
  }
}


/* Sidebar tab pane */
.sidebar-tab-pane {
  display: none;
  position: relative;
  overflow: auto;
  padding: 1.5rem;
  padding-right: 0;
}
.sidebar-tab-pane::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(255, 255, 255, .8);
}
.sidebar-tab-pane::after {
  content: url('../imgs/loading.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  display: none;
}
.sidebar-tab-pane.is-loading {
  min-height: 180px;
}
.sidebar-tab-pane.is-loading::before,
.sidebar-tab-pane.is-loading::after { display: block; }

.sidebar-tab-pane.is-selected {
  display: block;
}

.sidebar-tab-result-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-height: 70vh;
  overflow: auto;
  width: 100%;
}

/* News results */
.sidebar-result-news {
  overflow: hidden;
  display: block;
  margin: 0 -1.5rem;
  padding: .5rem 1.5rem;
}
.sidebar-result-news:hover {
  text-decoration: none;
  background: #F8F8F8;
}
.sidebar-result-news .thumbnail {
  float: left;
  width: 12rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1rem;
}
.sidebar-result-news .body {
  overflow: hidden;
}
.sidebar-result-news .title,
.sidebar-result-content .title{
  margin: 0;
  font-size: 1.4rem;
  font-weight: inherit;
  color: #005494;
}

.sidebar-result-content {
  margin-top: 2rem;
}

.sidebar-tab-result-list li:first-of-type .sidebar-result-content{
  margin-top: 0;
}

.results_content .title {
  color: #444;
}

.sidebar-result-news small {
  font-size: 1.2rem;
  color: #898989;
}


#sidebar {
  position: sticky;
  top: 40px;
}
