/* Sidebar results */
.sidebar {
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  background: #fff;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 200;

    width: 220px;
    /*min-width: 200px;*/
    transition: width .3s, height .3s;
    overflow: hidden;
    height: 10rem;
  }

  .sidebar.is-expanded-on-mobile {
    height: calc(100% - 8rem);
    width: calc(100% - 2rem);
  }

  /*Iphone 5 stuff*/
  .tabs-component {
    height: calc(100% - 70px);
  }

  .tabs-component-panels {
    height: calc(100% - 37px);
  }

  .tabs-component-panel {
    max-height: 100%;
    overflow: auto;
  }

  .sidebar-conent {
    max-height: initial;
    overflow: auto;
  }

  .sidebar-content > div {
    max-height: 100%;
    overflow: auto;
  }

}
@media (min-width: 769px) {
  .sidebar {
    width: 320px;
  }
}

/* Sidebar header */
.sidebar .sidebar-header {
  padding: 1rem;
  text-align: center;
  height: 60px;
}
.sidebar .sidebar-header strong {
  color: rgb(0, 117, 188);
  font-size: larger;
}
.sidebar .sidebar-header small {
  display: block;
  color: #2FB82A;
}
@media (max-width: 768px) {
  .sidebar .sidebar-header {
    padding-bottom: 0;
  }
  .sidebar .sidebar-header small {
    font-size: 1rem;
  }
}

/* Sidebar close */
#close-sidebar{
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 2rem;
  color: #898989;
}
@media (min-width: 769px) {
  #close-sidebar {
    display: none;
  }
}

/* Sidebar results Tabs */
.sidebar-tabs {
  position: relative;
}

.is-loading .sidebar-tabs::after {
  content: ''; /* loading spinner */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, .8);
}
.tabs-component-tabs{
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 0;
  margin: 0;
}
.sidebar-tab-menu::before {
  content: '';
  position: absolute;
  left: 50%;
  top: .6667em;
  bottom: .6667em;
  border-left: 1px solid #ddd;
}
.sidebar-tab-menu::after {
  content: '';
  display: block;
  clear: both;
}
.tabs-component-tab{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  text-align: center;
  position: relative;
  color: #898989;
  cursor: pointer;
  background: transparent;
}


.tabs-component-tab a {
  display: block;
  line-height: 3;
}

.tabs-component-tab::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 1em;
  right: 1em;
  height: 3px;
  background: transparent;
}
.tabs-component-tab:hover a{
  text-decoration: none;
  color: #50B9FF;
}
.tabs-component-tab:hover::after {
  background: #50B9FF;
}
.tabs-component-tab.is-active a {
  color: rgb(0, 117, 188);
  font-weight: 600;
}
.tabs-component-tab.is-active::after {
  background: rgb(0, 117, 188);
}
@media (max-width: 768px) {
  .tabs-component-tab {
    font-size: 1.2rem;
  }
  .tabs-component-tab .counter {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (min-width: 769px) {
  .tabs-component-tab .counter {
    display: none;
  }
}


/* Sidebar tab pane */
.sidebar-content {
  position: relative;
  overflow: auto;
  padding: 1.5rem!important;
  padding-right: 0;
}


.sidebar-content {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-height: calc(100vh - 30rem);
  overflow: auto;
}

/* News results */
.sidebar-result-news {
  overflow: hidden;
  display: block;
  margin: 0 -1.5rem;
  padding: .5rem 1.5rem;
}
.sidebar-result-news:hover {
  text-decoration: none;
  background: #F8F8F8;
}
.sidebar-result-news .thumbnail {
  float: left;
  width: 12rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1rem;
}
.sidebar-result-news .body {
  overflow: hidden;
}
.sidebar-result-news .title,
.content-item .title{
  margin: 0;
  font-size: 1.4rem;
  font-weight: inherit;
  color: rgb(0, 117, 188);
}

.content-item {
  margin-top: 2rem;
}

.sidebar-content li:first-of-type .content-item{
  margin-top: 0;
}

.results_content .title {
  color: #444;
}

.sidebar-result-news small {
  font-size: 1.2rem;
  color: #898989;
}

@media(min-width: 768px){
  .sidebar {
    position: sticky;
    top: 40px;
    overflow-x: hidden;
  }
}

.flag img {
   box-shadow: 0px 0px 2px #aaa;
}
