@color-blue: #3b5998;
@color-red: #dc4844;
@color-muted: #a4a3a2;

@background-solid: #f5f5f5;
@background-blue: @color-blue;

@border-normal: #cccccc;

/* light theme */

@bg_color: white;
@fg_color: #444;
@shadow_color: darken(@bg_color, 33.3);

/* dark theme */

/*
@dark_bg_color: black;
@dark_fg_color: #ccc;
@dark_shadow_color: lighten(@dark_bg_color, 33.3);
*/

@dark_bg_color: #201;
@dark_fg_color: #ccc;
@dark_shadow_color: lighten(@dark_bg_color, 33.3);
