import os.path

# avoid recursive import
# TODO: this could be setup better
try:
    BASE_DIR
except NameError:
    from .settings import BASE_DIR

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMN'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

# this needs to be properly set up
ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        # store the temporary database one level above the repo folder
        'NAME': os.path.join(os.path.join(os.path.dirname(BASE_DIR), 'db'), 'eeag.sqlite3'),
    }
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}


HAYSTACK_CONNECTIONS = {
    "default": {
        "ENGINE": "haystack.backends.elasticsearch7_backend.Elasticsearch7SearchEngine",
        "URL": "http://elasticsearch:9200/",
        "INDEX_NAME": "eeagrants",
        "BATCH_SIZE": 999,
        "SILENTLY_FAIL": False,
    },
}

# TODO use env variables instead of localsettings.py
MSSQL_SERVER = ''
MSSQL_USERNAME = ''
MSSQL_PASSWORD = ''
MSSQL_DATABASE = ''
