{% load tags %}

<div class="input-group">
  <div class="input-box input-block">
    <label for="{{ name }}-facet">{{ label }}</label>
    <select multiple name="{{ name }}" id="{{ name }}-facet" form="main-search-form"
            data-kind="{{ kind|lower }}" data-field="{{ name }}"
            class="main-auto-submit facet-select">
      {% for facet in selected_facets %}
          <option value="{{ facet }}" selected>
            {{ facet }} ({{ facets|facet_count:facet }})
          </option>
      {% endfor %}
    </select>
  </div>
</div>
