<div class="input-group">
  <div class="input-box input-block">
    <label for="{{ name }}-facet">{{ label }}</label>
    <select multiple name="{{ name }}" id="{{ name }}-facet" form="main-search-form"
            class="main-auto-submit facet-select">
      {% for facet in facets %}
        {% if facet.1 %}
          <option value="{{ facet.0 }}"
                  {% if facet.0 in selected_facets %}selected{% endif %}>
            {{ facet.0 }} ({{ facet.1 }})
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
