<!doctype html>
{% load webpack_loader %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>
  {% render_bundle 'styles' 'css' %}
</head>
<body class="dataviz-eea-grants">
  <header class="header sticky">
    <div class="container">
      <div class="header-inner">

        <div class="header-logo">
          <a href="/">
            <img src="/assets/imgs/eeaglogo.svg" alt="EEA Grants logo">
          </a>
        </div>

{% with current_view=request.resolver_match.view_name %}
        <nav class="header-menu">
          <ul>
            <li><a href="{% url 'frontend:grants' %}"{% if current_view == 'frontend:grants' %} class="active"{% endif %}>Grants</a></li>
            <li><a href="{% url 'frontend:partners' %}"{% if current_view == 'frontend:partners' %} class="active"{% endif %}>Partners</a></li>
            <li><a href="{% url 'frontend:projects' %}"{% if current_view == 'frontend:projects' %} class="active"{% endif %}>Projects</a></li>
          </ul>
        </nav>
{% endwith %}

        <form action="{% url 'frontend:search_programme' %}" class="header-search">
          <input type="search" placeholder="Search" name="q">
          <button type="submit" title="Search" name="page" value="1">
            <span class="fa fa-search"></span>
          </button>
        </form>
        <button type="button" class="header-toggle header-menu-toggle" title="Menu" onclick="Header.toggle('menu')">
          <span class="fa fa-bars"></span>
        </button>
      </div>
    </div>
  </header>

  {% block top %}{% endblock %}

  <div id="content" class="page-body">
    <div id="global-filters" class="sticky">
      <globalfilters>
      </globalfilters>
    </div>
    <div class="container">
      <div class="page-body-inner">
{% block content %}
{% endblock %}
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
        <div class="footer-inner">
          <div class="small muted">
            <p>EEA Grants - Norway Grants, Financial Mechanism Office, Tel: +32 (0) 2 286 1701, Fax: +32 (0) 2 286 1889, Email: <a href="mailto:info-fmo@efta.int" target="_self">info-fmo@efta.int</a></p>
            <p>Postal address: 12-16 Rue Joseph II, 1000 Brussels, Belgium, Visiting address: 47-48, Boulevard du Régent 1000 Brussels, Belgium</p>
            <p>
                <a href="{% url 'frontend:disclaimer' %}" onclick="Footer.popup(event, this)">Disclaimer</a>
                <a href="http://eeagrants.org/cookies" target="_blank">Cookie policy</a>
            </p>
          </div>
        </div>
      </div>
  </footer>
  {% render_bundle 'scripts' 'js' %}
{% block finally %}
{% endblock %}
</body>
</html>
