<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Embed Sandbox</title>
</head>
<body>
<div style="padding: 20px;">
  <label>
    Embed Component:
    <select onchange="location = this.value;">
      <option
          value="{% url 'frontend:embed_sandbox' %}"
          {% if not selected_component or not selected_scenario %}selected{% endif %}
      >
        -- select an option --
      </option>
      {% for period, embed_components in available_periods.items %}
        {% for scenario, components in embed_components.items %}
          <optgroup label="{{ scenario }} ({{ period }})">
            {% for component in components.keys %}
              <option
                  value="{% url 'frontend:embed_sandbox' scenario=scenario component=component period=period %}"
                  {% if component == selected_component and scenario == selected_scenario and period == selected_period %}
                  selected
                  {% endif %}
              >
                {{ component }}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      {% endfor %}
    </select>
  </label>
  <span>Currently selected:</span>
  <b>{{ selected_scenario }} ({{ selected_period }}): {{ selected_component }}</b>
  <div style="display: flex;">
    {% if selected_scenario and selected_component %}
      <div style="margin-top: 20px; overflow: hidden; border: 1px solid;">
        <script
            src="{% url 'frontend:embed' scenario=selected_scenario component=selected_component period=selected_period %}"
            async
        ></script>
      </div>
    {% endif %}
  </div>
</div>
</body>
</html>