{% extends "dataviz.html" %}

{% block top %}
{% endblock %}

{% block main %}
<div class="grant-dataviz" id="global-filters">
  <globalfilter>
  </globalfilter>
</div>

<div class="grant-dataviz" id="financial-mechanisms">
<h2>Funding by financial mechanism</h2>
  <mechanisms
      :width="setWidth"
      :initial="data"
  >
  </mechanisms>
</div>

<div class="grant-dataviz" id="priority-sectors">
<h2>Allocation by priority sector</h2>
  <sectors
      :width="250"
      :height="300"
      datasource="{% url "api:sector-allocation" %}"
  >
  </sectors>
</div>

<div class="grant-dataviz" id="funding-map">
<h2>Funding map</h2>
  <xmap />
</div>

<div class="grant-dataviz" id="beneficiary-states">
<h2>Funding across beneficiary states</h2>
  <beneficiaries
      :width="setWidth"
      :min-height="200"
      datasource="{% url "api:beneficiary-allocation" %}"
  >
  </beneficiaries>
</div>
{% endblock %}

{% block aside %}
    <div id="sidebar-results">
    </div>
{% endblock %}

{% block finally %}
<script>
new Vue({
  el: '#financial-mechanisms',
  components: {
      mechanisms: components.Mechanisms,
  },
  data: {
    //datasource: '{#% url "api:fm-allocation" %#}',
    data: {
      EEA: 993500000,
      Norway: 804600000,
    },
  },
  computed: {
    setWidth(){
      let container_width = document.querySelector('main.main').offsetWidth;
      let element_width = 0.85 * container_width;
      if (window.matchMedia("(max-width: 600px)").matches) {
         element_width = container_width;
      }
      return element_width
    },
  },
});

new Vue({
  el: '#priority-sectors',
  components: {
      sectors: components.Sectors,
  },
  data: {
  },
});

new Vue({
  el: '#funding-map',
  components: {
      xmap: components.Map,
  },
  data: {
  },
});

new Vue({
  el: '#global-filters',
  components: {
      globalfilter: components.GlobalFilters,
  },
  data: {
  },
});

new Vue({
  el: '#beneficiary-states',
  components: {
    beneficiaries: components.Beneficiaries,
  },
  data: {
  },
  computed: {
    setWidth(){
      let container_width = document.querySelector('main.main').offsetWidth;
      let element_width = 0.65 * container_width;
      if (window.matchMedia("(max-width: 600px)").matches) {
         element_width = 0.95 * container_width;
      }
      return element_width
    },
  },
});
</script>
{% endblock %}
