{% extends "dataviz.html" %}

{% block top %}
{% endblock %}

{% block main %}

<div class="grant-dataviz" id="global-filters">
  <globalfilter>
  </globalfilter>
</div>

<div class="grant-dataviz" id="financial-mechanisms">
<h2>Funding by financial mechanism</h2>
  <mechanisms
      :width="800"
      :initial="data"
  >
  </mechanisms>
</div>

<div class="grant-dataviz" id="priority-sectors">
<h2>Allocation by priority sector</h2>
  <sectors
      :width="250"z
      :height="300"
      datasource="{% url "api:sector-allocation" %}"
  >
  </sectors>
</div>

<div class="grant-dataviz" id="beneficiary-states">
<h2>Funding across beneficiary states</h2>
  <beneficiaries
      :width="500"
      :min-height="200"
      datasource="{% url "api:beneficiary-allocation" %}"
  >
  </beneficiaries>
</div>
{% endblock %}

{% block aside %}
    <div id="sidebar-results">
    </div>
{% endblock %}

{% block finally %}
<script>
new Vue({
  el: '#financial-mechanisms',
  components: {
      mechanisms: components.Mechanisms,
  },
  data: {
    //datasource: '{#% url "api:fm-allocation" %#}',
    data: {
      EEA: 993500000,
      Norway: 804600000,
    },
  },
});

new Vue({
  el: '#priority-sectors',
  components: {
      sectors: components.Sectors,
  },
  data: {
  },
});

new Vue({
  el: '#global-filters',
  components: {
      globalfilter: components.Globalfilter,
  },
  data: {
  },
});

new Vue({
  el: '#beneficiary-states',
  components: {
    beneficiaries: components.Beneficiaries,
  },
  data: {
  },
});
</script>
{% endblock %}
