{% extends "dataviz.html" %}

{% block top %}
{% endblock %}

{% block main %}
<div class="lg-column">

  <div class="grant-dataviz" id="financial-mechanisms">
  <h2>Funding by financial mechanism</h2>
    <mechanisms
        :initial="dataset"
    />
  </div>

  <div class="grant-dataviz" id="priority-sectors">
  <h2>Allocation by priority sector</h2>
    <sectors
        :initial="dataset"
    />
  </div>
</div>

<div class="lg-column">
  <div class="grant-dataviz" id="funding-map">
  <h2>Funding map</h2>
    <xmap
        :initial="dataset"
        details-datasource="{% url "api:beneficiary-allocation-detail" "XX" %}"
    />
  </div>

  <div class="grant-dataviz" id="beneficiary-states">
  <h2>Funding across beneficiary states</h2>
    <beneficiaries
        :initial="dataset"
    />
  </div>
</div>
{% endblock %}

{% block aside %}
<div class="sidebar">
  <allocation_overview
      :initial="dataset">
  </allocation_overview>
    <tabs>
      <tab name="Results">
        <results
        :initial="dataset" />
      </tab>
      <tab name="Programmes">
        <programmes
        :initial="dataset" />
      </tab>
    </tabs>
 </div>
{% endblock %}

{% block finally %}
<script>
new root.Grants({
  el: '#content',
  data: {
    datasource: "{% url "api:grants" %}"
  },
});
</script>
{% endblock %}
