{% extends "_layout.html" %}


{% block main %}
  <div class="grant-dataviz" id="overview"></div>

  <section class="section align-center">

    <h2 class="homepage-subtitle">Find out more</h2>

    <nav class="homepage-nav">
      <a href="{% url 'frontend:grants' %}">Our grants</a>
      <a href="{% url 'frontend:partners' %}">Our partners</a>
      <a href="{% url 'frontend:projects' %}">Our projects</a>
    </nav>

    <div class="homepage-search-wrapper">
      <form class="homepage-search" action="">
        <input type="search" placeholder="Programmes, Projects, News, Organizations, etc.">
        <button type="submit">Search</button>
      </form>
    </div>

  </section>

{% endblock %}

{% block finally %}
<script>
new components.Overview({
  el: '#overview',
  data: {
    datasource: "{% url "api:grants" %}",
    width: 500,
    height: 400,
  },
});
</script>
{% endblock %}
