{% extends "_layout-sidebar.html" %}


{% block main %}
  <div style="height: 120vh">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat neque, natus minus delectus sequi placeat, iste libero. Nihil, iusto, soluta. Atque ad quod nostrum sit doloribus quibusdam omnis, nisi odio!</div>
{% endblock %}

{% block aside %}
  <div class="sidebar sidebar-results">
    <div class="sidebar-header">
      Sidebar header
    </div>

    <div class="sidebar-tabs">
      <nav class="sidebar-tab-menu">
        <a class="sidebar-tab-menu-item active">
          Results
          <span class="counter">14</span>
        </a>
        <a class="sidebar-tab-menu-item">
          Programmes
          <span class="counter">156</span>
        </a>
      </nav>
      
    </div>
  </div>  
{% endblock %}
