{% extends "_layout.html" %}


{% block main %}
  <div class="homepage_content_wrapper">
    <overview
        :initial="dataset"
    ></overview>
  </div>

  <section class="section align-center">

    <h2 class="homepage-subtitle">Find out more</h2>

    <nav class="homepage-nav">
      <a href="{% url 'frontend:grants' %}">Our Grants</a>
      <a href="{% url 'frontend:partners' %}">Our partners</a>
      <a href="{% url 'frontend:projects' %}">Our projects</a>
    </nav>

    <div class="homepage-search-wrapper">
      <form class="homepage-search" action="/search/">
        <input type="search" name="q" placeholder="Programmes, Projects, Organizations, etc.">
        <button type="submit" name="page" value="1">Search</button>
      </form>
    </div>

  </section>

{% endblock %}

{% block finally %}
<script>
new root.Index({
  el: '#content',
  data: {
    datasource: "{% url "api:overview" %}",
  },
});
</script>
{% endblock %}
