{% extends "dataviz.html" %}

{% block top %}
{% endblock %}

{% block main %}

<h1 class="page-title">Our Partners</h1>

<div class="lg-column">

  <div class="grant-dataviz" id="financial-mechanisms">
    <mechanisms :initial="dataset">
      <h2 slot="title">Financial mechanisms <span style="white-space:nowrap;">2009-2014</span></h2>
    </mechanisms>
  </div>

  <div class="grant-dataviz" id="priority-sectors">
    <sectors :initial="dataset">
      <h2 slot="title">Donor partner programmes by sector</h2>
    </sectors>
  </div>

  <div class="grant-dataviz" id="donor-programme-partners">
    <programme_partners
        :initial="dataset"
    >
      <h2 slot="title">Donor programme partners</h2>
    </programme_partners>
  </div>

  <div class="grant-dataviz" id="donor-project-partners">
    <project_partners
        :initial="dataset"
    >
      <h2 slot="title">Donor project partners</h2>
    </project_partners>
  </div>

</div>


<div class="lg-column">

  <div class="grant-dataviz" id="network-map">
    <xmap
        :initial="dataset"
    >
      <h2 slot="title">Network map</h2>
    </xmap>
  </div>

  <div class="grant-dataviz" id="donor-states">
    <donors
        :initial="dataset"
    >
      <h2 slot="title">Partners by donor state</h2>
    </donors>
  </div>

 <div class="grant-dataviz" id="beneficiary-states">
    <beneficiaries
        :initial="dataset"
    >
      <h2 slot="title">Organisations with donor partner by beneficiary state</h2>
    </beneficiaries>
  </div>

</div>




{% endblock %}

{% block aside %}

<sidebar class="sticky"
         :initial="dataset"
         projects-datasource="{% url "api:project-list" %}"
>
</sidebar>

{% endblock %}

{% block finally %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  _createApp(
    Dataviz.Partners,
    {
      datasource: "/api/partners.json",
    },
  ).mount('#content')
})
</script>
{% endblock %}
