{% extends "dataviz.html" %}

{% block top %}
{% endblock %}

{% block main %}
<div class="lg-column">
  <h1 class="page-title">Our projects</h1>

  <div class="grant-dataviz" id="financial-mechanisms">
    <h2>Projects by financial mechanism</h2>
    <mechanisms
        :initial="dataset"
    ></mechanisms>
  </div>

  <div class="grant-dataviz" id="priority-sectors">
    <h2>Projects by priority sector</h2>
    <sectors
        :initial="dataset"
    ></sectors>
  </div>
</div>

<div class="lg-column">
  <div class="grant-dataviz" id="funding-map">
    <h2>Projects map</h2>
    <xmap
        :initial="dataset"
        details-datasource="{% url "api:beneficiary-detail" "XX" %}"
    ></xmap>
  </div>

  <div class="grant-dataviz" id="beneficiary-states">
    <h2>Projects across beneficiary states</h2>
    <beneficiaries
        :initial="dataset"
    ></beneficiaries>
  </div>
</div>
{% endblock %}

{% block aside %}
<sidebar>
  <overview
      :initial="dataset"
  ></overview>

  <tabs cache-lifetime="">
    <tab name="News">
      <news
          class="sidebar-content"
          :initial="dataset"
      ></news>
    </tab>
    <tab name="Projects">
      <projects
          class="sidebar-content"
          :initial="dataset"
      ></projects>
    </tab>
  </tabs>
</sidebar>
{% endblock %}

{% block finally %}
<script>
new root.Projects({
  el: '#content',
  data: {
    datasource: "{% url "api:projects" %}"
  },
});
</script>
{% endblock %}
