{% extends "_layout-sidebar.html" %}

{% block main %}

  <h1 class="page-title">Sandbox</h1>
  <p>This page is for playing with UI components</p>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Typography</h2>
    </div>

    <p>Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae assumenda, incidunt ipsum saepe nostrum. Quas, non? Reiciendis molestias officiis placeat, aperiam, ipsam alias quos fugiat sed officia eos accusantium est.</p>
    <a href="#">Anchor</a>

    <p class="small muted">Caption: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat praesentium inventore eligendi officia cupiditate temporibus?</p>
  </section>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Buttons</h2>
    </div>

    <h3>Buttons</h3>
    <button class="btn btn-primary btn-min" type="button">
      Primary
    </button>
    <button class="btn btn-default btn-min" type="button">
      Default
    </button>
    <a href="#" class="btn btn-primary" disabled>Primary disabled</a>
    <input type="submit" class="btn btn-default" disabled value="Default disabled">
    
  </section>

{% endblock %}

{% block aside %}
  <div id="sidebar-results">
  </div>
{% endblock %}
