{% extends "_layout-sidebar.html" %}

{% block top %}
<div class="global-filters">
  <div class="container">
    <div class="global-filters-inner">

      <div class="filters-label">
        Showing data for:
      </div>


      <ul class="list-filters">
        <li>
          <span class="tag">
            <span class="muted">Country:</span>
            <span class="clip-tag">Poland</span>
            <span class="icon icon-close"></span>
          </span>
        </li>
        <li>
          <span class="tag">
            <span class="muted">Priority sector:</span>
            <span class="clip-tag">Environmental protection and management</span>
            <span class="icon icon-close"></span>
          </span>
        </li>
      </ul>



      <!-- <button class="toggle-filters">
        expand
      </button> -->

      <button class="no-btn muted" id="reset-filters">
        Reset filters
        <span class="icon icon-close"></span>
      </button>

    </div>
  </div>
</div>
{% endblock %}

{% block main %}

  <h1 class="page-title">Sandbox</h1>
  <p>This page is for playing with UI components</p>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Typography</h2>
    </div>

    <p>Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae assumenda, incidunt ipsum saepe nostrum. Quas, non? Reiciendis molestias officiis placeat, aperiam, ipsam alias quos fugiat sed officia eos accusantium est.</p>
    <a href="#">Anchor</a>

    <p class="small muted">Caption: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat praesentium inventore eligendi officia cupiditate temporibus?</p>
  </section>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Buttons</h2>
    </div>

    <button class="btn btn-primary btn-min" type="button">
      Primary
    </button>
    <button class="btn btn-default btn-min" type="button">
      Default
    </button>
    <a href="#" class="btn btn-primary" disabled>Primary disabled</a>
    <input type="submit" class="btn btn-default" disabled value="Default disabled">

  </section>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Form components</h2>
    </div>

    <h3>Input boxes</h3>

    <span class="input input-box">
      <label for="">Text box</label>
      <input type="text" placeholder="Placeholder">
    </span>

    <span class="input input-box">
      <label for="">Disabled</label>
      <input type="text" disabled placeholder="Disabled">
    </span>

    <h3>Subtle select</h3>
    <select name="" id="" class="subtle-select">
      <option>Subtle isn't it?</option>
    </select>
  </section>

{% endblock %}

{% block aside %}
  <div id="sidebar-results">
  </div>
{% endblock %}
