{% extends "_layout-sidebar.html" %}

{% block main %}

  <h1 class="page-title">Sandbox</h1>
  <p>This page is for playing with UI components</p>

  <section class="section">
    <div class="section-header">
      <h2 class="section-title">Typography</h2>
    </div>

    <p>Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae assumenda, incidunt ipsum saepe nostrum. Quas, non? Reiciendis molestias officiis placeat, aperiam, ipsam alias quos fugiat sed officia eos accusantium est.</p>
    <a href="#">Anchor</a>

    <p class="small muted">Caption: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat praesentium inventore eligendi officia cupiditate temporibus?</p>
    
  </section>

{% endblock %}

{% block aside %}
  <div id="sidebar-results">
  </div>
{% endblock %}
