{% extends "_layout-sidebar.html" %}

{% block top %}
  <div class="search-top">
    <div class="container">
      <div class="search-top-inner">
        <h1 class="page-title">Search</h1>
        <form class="search-form" id="main-search-form">
          <div class="clearfix">
            <span class="input-box">
              <input type="search" placeholder="Search" name="q" autofocus
              value="{{ form.q.data | default_if_none:"" }}">
            </span>
            <button type="submit" class="btn btn-primary" name="page" value="1">Search</button>
          </div>
        <div class="search-tabs">
          <span class="muted">Search for:</span>
          <input type="radio" name="kind" id="programme-tab" value="Programme"
                 {% if form.facets.kind.0 == 'Programme' %}checked{% endif %}>
          <label for="programme-tab">Programmes</label>
          <input type="radio" name="kind" id="project-tab" value="Project"
                 {% if form.facets.kind.0 == 'Project'%}checked{% endif %}>
          <label for="project-tab">Projects</label>
          <input type="radio" name="kind" id="organisation-tab" value="Organisation"
                 {% if form.facets.kind.0 == 'Organisation'%}checked{% endif %}>
          <label for="organisation-tab">Organisations</label>
        </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block main %}

  <div class="search-results">
    <div class="search-results-header">
      <span class="search-results-count">
        {{ paginator.count }} results found
      </span>
      <span class="search-results-options">
        <select name="" id="" class="subtle-select">
          <option value="">10 results per page</option>
        </select>
         |
        <select name="" id="" class="subtle-select">
          <option value="">Sorted by Country A-Z</option>
        </select>
      </span>
      <button type="button" class="btn btn-default" id="toggle-sidebar-filters">
        Filter results
      </button>
    </div>

    <ul class="no-list">
      {% for res in page_obj.object_list %}
      <li>
        <div class="search-result search-result-programme">
          <span class="country">
            <img src="/assets/imgs/flag-{{ res.state_name.0|lower|cut:" " }}.png"
                 alt="flag"
                 height="20px"
            > {{ res.state_name.0 }}
          </span>
          <h4 class="title">
            {% if res.url %}
              <a href="{{ res.url }}">{{ res.name }}</a>
            {% else %}
              <span>{{ res.name }}</span>
            {% endif %}
          </h4>
          <p class="description">{{ res.text }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>


    {% if is_paginated %}
    <div class="search-results-footer">
      <div class="pagination">
        <button
          class="pagination-next"
          {% if page_obj.has_previous %}
            name="page"
            value="{{ page_obj.previous_page_number }}"
            type="submit"
            form="main-search-form"
          {% else %}
            disabled="disabled"
          {% endif %}
        >Next</button>

        <div class="pagination-pages">
          {% for page_num in paginator.page_range %}
            <button
              name="page"
              value="{{ page_num }}"
              type="submit"
              form="main-search-form"
              {% if page_obj.number == page_num %}
                class="is-current-page"
                disabled="disabled"
              {% endif %}
            >{{ page_num }}</button>
          {% endfor %}
        </div>

        <button
          class="pagination-previous"
          {% if page_obj.has_next %}
            name="page"
            value="{{ page_obj.next_page_number }}"
            type="submit"
            form="main-search-form"
          {% else %}
            disabled="disabled"
          {% endif %}
        >Previous</button>

      </div>
    </div>
    {% endif %}

  </div>
{% endblock %}

{% block aside %}
  <div id="sidebar-filters" class="sidebar sidebar-filters">
    <div class="sidebar-header">
      <h3 class="sidebar-title">Search filters</h3>
      <button class="no-btn small muted" type="reset">Reset</button>
{#      <button class="no-btn small muted" id="toggle-sidebar-filters-close" type="button">Close</button>#}
    </div>
    <div class="sidebar-body">

      <!--
      {% if page_obj.object_list %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="funding-period-facet">Funding period</label>
          <select name="" id="funding-period-facet">
            <option value="">2009 - 2014</option>
          </select>
        </div>
      </div>
      -->

      {% if facets.fields.financial_mechanism_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="financial-mechanism-facet">Financial Mechanism</label>
          <select multiple name="financial_mechanism_ss" id="financial-mechanism-facet" form="main-search-form">
            {% for o in facets.fields.financial_mechanism_ss %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.financial_mechanism_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.state_name %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="state-facet">Beneficiary States</label>
          <select multiple name="state_name" id="state-facet" form="main-search-form">
            {% for o in facets.fields.state_name %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.state_name %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.priority_sector_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="priority-sector-facet">Priority Sectors</label>
          <select multiple name="priority_sector_ss" id="priority-sector-facet" form="main-search-form">
            {% for o in facets.fields.priority_sector_ss %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.priority_sector_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.programme_area_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="programme-area-facet">Programme Areas</label>
          <select multiple name="programme_area_ss" id="programme-area-facet" form="main-search-form">
            {% for o in facets.fields.programme_area_ss %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.programme_area_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if form.facets.kind.0 == 'Programme' %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="outcome-facet">Outcomes</label>
          <select multiple name="outcome_ss" id="outcome-facet" form="main-search-form">
            {% for o in form.facets.outcome_ss %}
              <option value="{{ o }}" selected>{{ o }}</option>
            {% empty %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% endif %}

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      function select2AjaxFactory(facet) {
        return {
          ajax: {
            url: function(params) {
              return '/api/search_typeahead/?' + $("#main-search-form").serialize()
            },
            data: function(params) {
              return {
                auto_name: facet,
                auto_value: params.term,
              }
            },
            processResults: function(response, params) {
              return {
                results: response.results,
              }
            },
            delay: 300,
          },
          minimumInputLength: 2,
        }
      };
      $("#financial-mechanism-facet").select2();
      $("#state-facet").select2();
      $("#priority-sector-facet").select2();
      $("#programme-area-facet").select2();
      $("#outcome-facet").select2(select2AjaxFactory('outcome_ss'));
    });
  </script>
{% endblock %}
