{% extends "_layout-sidebar.html" %}

{% block top %}
  <div class="search-top">
    <div class="container">
      <div class="search-top-inner">
        <h1 class="page-title">Search</h1>
        <form class="search-form" id="main-search-form">
          <div class="clearfix">
            <span class="input-box">
              <input type="search" placeholder="Search" name="q" autofocus
              value="{{ form.q.data | default_if_none:"" }}">
            </span>
            <button type="submit" class="btn btn-primary" name="page" value="1">Search</button>
          </div>
        <div class="search-tabs" id="search-tabs">
          <span class="muted">Search for:</span>
          <input type="radio" name="kind" id="programme-tab" value="Programme"
                 {% if form.facets.kind.0 == 'Programme' %}checked{% endif %}>
          <label for="programme-tab">Programmes</label>
          <input type="radio" name="kind" id="project-tab" value="Project"
                 {% if form.facets.kind.0 == 'Project'%}checked{% endif %}>
          <label for="project-tab">Projects</label>
          <input type="radio" name="kind" id="organisation-tab" value="Organisation"
                 {% if form.facets.kind.0 == 'Organisation'%}checked{% endif %}>
          <label for="organisation-tab">Organisations</label>
        </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block main %}

  <div class="search-results">
    <div class="search-results-header">
      <span class="search-results-count">
        {{ paginator.count }} results found
      </span>
      <span class="search-results-options">
        <select name="paginate_by" id="" class="subtle-select main-auto-submit" form="main-search-form">
          {% for page_size in page_sizes %}
            <option
              value="{{ page_size }}"
              {% if page_size == paginator.per_page %}selected{% endif %}
            >
              {{ page_size }} results per page
            </option>
          {% endfor %}
        </select>
      </span>
    </div>

    <ul class="no-list">
      {% for res in page_obj.object_list %}
      <li>
        <div class="search-result search-result-programme">
          <h4 class="title">
            {% if res.url %}
              <a href="{{ res.url }}">{{ res.name }}</a>
            {% else %}
              <span>{{ res.name }}</span>
            {% endif %}
          </h4>
          <span class="country">
            <img src="/assets/imgs/flag-{{ res.state_name.0|lower|cut:" " }}.png"
                 alt="flag"
                 height="20px"
            > {{ res.state_name.0 }}
          </span>
          <p class="description">
          {% if form.facets.kind.0 == 'Programme' %}
            {{ res.summary|truncatechars_html:500 }}
          {% elif form.facets.kind.0 == 'Project' %}
            {# nothing to show, name is already dispalyed #}
          {% elif form.facets.kind.0 == 'Organisation' %}
            {# nothing to show, name is already dispalyed #}
          {% else %}
            {{ res.text }}
          {% endif %}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>


    {% if is_paginated %}
    <div class="search-results-footer">
      <div class="pagination clearfix">
        <button
          class="btn btn-default pagination-previous"
          {% if page_obj.has_previous %}
            name="page"
            value="{{ page_obj.previous_page_number }}"
            type="submit"
            form="main-search-form"
          {% else %}
            disabled="disabled"
          {% endif %}
        >Previous</button>

        <div class="pagination-pages">
          {% for page_num in paginator.page_range %}
            {% if page_num >= page_obj.number|add:"-2" and page_num <= page_obj.number|add:"2" or page_num == 1 or page_num == paginator.num_pages %}
            <button
              name="page"
              class="btn btn-default"
              value="{{ page_num }}"
              type="submit"
              form="main-search-form"
              {% if page_obj.number == page_num %}
                class="is-current-page"
                disabled="disabled"
              {% endif %}
            >{{ page_num }}</button>
            {% endif %}
          {% endfor %}
        </div>

        <button
          class="btn btn-default pagination-next"
          {% if page_obj.has_next %}
            name="page"
            value="{{ page_obj.next_page_number }}"
            type="submit"
            form="main-search-form"
          {% else %}
            disabled="disabled"
          {% endif %}
        >Next</button>

      </div>
    </div>
    {% endif %}

  </div>
{% endblock %}

{% block aside %}
  <div id="sidebar-filters" class="sidebar sidebar-filters">
    <div class="sidebar-header">
      <h3 class="sidebar-title">Search filters</h3>
      <button id="main-reset" class="no-btn small muted" type="reset" form="main-search-form">Reset</button>
    </div>
    <div class="sidebar-body">

      {% if page_obj.object_list %}
        <!--
        <div class="input-group">
          <div class="input-box input-block">
            <label for="funding-period-facet">Funding period</label>
            <select name="" id="funding-period-facet">
              <option value="">2009 - 2014</option>
            </select>
          </div>
        </div>
        -->

      {% if facets.fields.financial_mechanism_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="financial-mechanism-facet">Financial Mechanism</label>
          <select multiple name="financial_mechanism_ss" id="financial-mechanism-facet" form="main-search-form" class="main-auto-submit">
            {% for o in facets.fields.financial_mechanism_ss %}
              {% if o.1 %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.financial_mechanism_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.state_name %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="state-facet">Beneficiary States</label>
          <select multiple name="state_name" id="state-facet" form="main-search-form" class="main-auto-submit">
            {% for o in facets.fields.state_name %}
              {% if o.1 %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.state_name %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.priority_sector_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="priority-sector-facet">Priority Sectors</label>
          <select multiple name="priority_sector_ss" id="priority-sector-facet" form="main-search-form" class="main-auto-submit">
            {% for o in facets.fields.priority_sector_ss %}
              {% if o.1 %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.priority_sector_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if facets.fields.programme_area_ss %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="programme-area-facet">Programme Areas</label>
          <select multiple name="programme_area_ss" id="programme-area-facet" form="main-search-form" class="main-auto-submit">
            {% for o in facets.fields.programme_area_ss %}
              {% if o.1 %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.programme_area_ss %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      <div class="input-group">
        <div class="input-box input-block">
          <label for="programme-status-facet">Programme Status</label>
          <select multiple name="programme_status" id="programme-status-facet" form="main-search-form" class="main-auto-submit">
            {% for o in facets.fields.programme_status %}
              {% if o.1 %}
              <option value="{{ o.0 }}" {% if o.0 in form.facets.programme_status %}selected{% endif %}>
                {{ o.0 }} ({{ o.1 }})
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>

      {% if form.facets.kind.0 == 'Programme' %}
      <div class="input-group">
        <div class="input-box input-block">
          <label for="outcome-facet">Outcomes</label>
          <select multiple name="outcome_ss" id="outcome-facet" form="main-search-form" class="main-auto-submit">
            {% for o in form.facets.outcome_ss %}
              <option value="{{ o }}" selected>{{ o }}</option>
            {% empty %}
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      {% if form.facets.kind.0 == 'Project' %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="project-programme-name-facet">Programme</label>
            <select multiple name="programme_name" id="project-programme-name-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.programme_name %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.programme_name %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box input-block">
            <label for="project-status-facet">Project Status</label>
            <select multiple name="project_status" id="project-status-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.project_status %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.project_status %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box input-block">
            <label for="project-theme-facet">Project Theme</label>
            <select multiple name="theme_ss" id="project-theme-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.theme_ss %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.theme_ss %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box input-block">
            <label for="geotarget-facet">Project Geotarget</label>
            <select multiple name="geotarget" id="geotarget-facet" form="main-search-form" class="main-auto-submit">
              {% for o in form.facets.geotarget %}
                <option value="{{ o }}" selected>{{ o }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      {% endif %}

      {% if form.facets.kind.0 == 'Organisation' %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="organisation-programme-name-facet">Programme</label>
            <select multiple name="programme_name" id="organisation-programme-name-facet" form="main-search-form" class="main-auto-submit">
              {% for o in form.facets.programme_name %}
                <option value="{{ o }}" selected>{{ o }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box input-block">
            <label for="organisation-project-status-facet">Project Status</label>
            <select multiple name="project_status" id="organisation-project-status-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.project_status %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.project_status %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box input-block">
            <label for="organisation-project-name-facet">Project</label>
            <select multiple name="project_name" id="organisation-project-name-facet" form="main-search-form" class="main-auto-submit">
              {% for o in form.facets.project_name %}
                <option value="{{ o }}" selected>{{ o }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% if facets.fields.country %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="country-facet">Organisation Country</label>
            <select multiple name="country" id="country-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.country %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.country %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="nuts-facet">Organisation NUTS</label>
            <select multiple name="nuts" id="nuts-facet" form="main-search-form" class="main-auto-submit">
              {% for o in form.facets.nuts %}
                <option value="{{ o }}" selected>{{ o }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% if facets.fields.org_type_category %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="org-type-category-facet">Organisation Type Category</label>
            <select multiple name="org_type_category" id="org-type-category-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.org_type_category %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.org_type_category %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        {% if facets.fields.org_type %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="org-type-facet">Organisation Type</label>
            <select multiple name="org_type" id="org-type-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.org_type %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.org_type %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        {% if facets.fields.role_ss %}
        <div class="input-group">
          <div class="input-box input-block">
            <label for="role-facet">Organisation Role</label>
            <select multiple name="role_ss" id="role-facet" form="main-search-form" class="main-auto-submit">
              {% for o in facets.fields.role_ss %}
                {% if o.1 %}
                <option value="{{ o.0 }}" {% if o.0 in form.facets.role_ss %}selected{% endif %}>
                  {{ o.0 }} ({{ o.1 }})
                </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}

      {% endif %}

      {% endif %}

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      function select2AjaxFactory(kind, facet) {
        return {
          ajax: {
            url: function(params) {
              var u = '/api/search_' + kind + '_typeahead/?';
              return u + $("#main-search-form").serialize()
            },
            data: function(params) {
              return {
                auto_name: facet,
                auto_value: params.term,
              }
            },
            processResults: function(response, params) {
              return {
                results: response.results,
              }
            },
            delay: 300,
          },
          minimumInputLength: 2,
        }
      };
      $("#search-tabs").change(function() {
        var selected = $(this).find("input:checked");
        if (selected.length) {
          var action_url = '/search/' + selected.val().toLowerCase() + '/';
          $("#main-search-form").attr("action", action_url);
          $("#main-search-form").submit();
        }
      });

      var all_select2 = [];
      // common
      all_select2.push($("#financial-mechanism-facet").select2());
      all_select2.push($("#state-facet").select2());
      all_select2.push($("#priority-sector-facet").select2());
      all_select2.push($("#programme-area-facet").select2());
      all_select2.push($("#programme-status-facet").select2());

      // programme
      all_select2.push($("#outcome-facet").select2(select2AjaxFactory('programme', 'outcome_ss')));

      // project
      all_select2.push($("#project-status-facet").select2());
      all_select2.push($("#project-programme-name-facet").select2());
      all_select2.push($("#project-theme-facet").select2());
      all_select2.push($("#geotarget-facet").select2(select2AjaxFactory('project', 'geotarget')))

      // organisation
      all_select2.push($("#organisation-programme-name-facet").select2(select2AjaxFactory('organisation', 'programme_name')));
      all_select2.push($("#organisation-project-status-facet").select2());
      all_select2.push($("#organisation-project-name-facet").select2(select2AjaxFactory('organisation', 'project_name')));
      all_select2.push($("#country-facet").select2());
      all_select2.push($("#nuts-facet").select2(select2AjaxFactory('organisation', 'nuts')));
      all_select2.push($("#org-type-category-facet").select2());
      all_select2.push($("#org-type-facet").select2());
      all_select2.push($("#role-facet").select2());

      $(".main-auto-submit").change(function() {
        $("#main-search-form").submit();
      })
      $("#main-reset").click(function () {
        all_select2.forEach(function(e) {
          e.val(null).trigger("change");
        })
      })
    });
  </script>
{% endblock %}
