{% extends "_layout-sidebar.html" %}

{% block top %}
  <div class="search-top">
    <div class="container">
      <div class="search-top-inner">
        <h1 class="page-title">Search</h1>
        <form action="" class="search-form">
          <span class="input-box">
            <input type="search" placeholder="Search" autofocus>
          </span>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div class="search-tabs">
          <span class="muted">Search for:</span>
          <a href="#programmes" class="is-selected">Programmes</a>
          <a href="#projects">Projects</a>
          <a href="#organizations">Organizations</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block main %}

  254 results found

  <select name="" id="" class="subtle-select">
    <option value="">10 results per page</option>
  </select>
   | 
  <select name="" id="" class="subtle-select">
    <option value="">Sorted by Country A-Z</option>
  </select>


  <button type="button" class="btn btn-default" id="toggle-filters">
    Filter results
  </button>

  <hr>

  <ul class="no-list">
    <li>
      <div class="search-result">
        <small>
          <img src="" alt="flag"> Country
        </small>
        <h4><a href="#result">Programme title</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, rerum, blanditiis? Molestias accusantium provident, porro quidem assumenda commodi illum explicabo. Fugit atque quos illo, esse. Reiciendis dolores repellendus ipsam aut?</p>
      </div>
    </li>
  </ul>

  Search results

  <hr>

  <div class="pagination">
    <a href="" class="pagination-next">Next</a>
    <a href="" class="pagination-previous">Previous</a>
    <div class="pagination-pages">
      <a href="">1</a>
      <a href="" class="is-current-page">2</a>
      <a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
    </div>
  </div>

{% endblock %}

{% block aside %}
  <div id="sidebar-filters" class="sidebar sidebar-filters">
    <div class="sidebar-header">
      <h3 class="sidebar-title">Search filters</h3>
      <button class="no-btn small muted" type="reset">Reset</button>
    </div>
    <div class="sidebar-body">

      <div class="input-group">
        <div class="input-box input-block">
          <label for="">Funding period</label>
          <select name="" id="">
            <option value="">2009 - 2014</option>
          </select>
        </div>
      </div>

      <div class="input-group">
        some checkboxes        
      </div>

    </div>
  </div>
{% endblock %}
