name: Update test instance

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, test]
    permissions:
      contents: read
    steps:
      - name: Update docker-compose.override.yml
        run: |
          cd /var/local/eeag
          sed -i "/image/c\    image: ghcr.io/eftafmo/dataviz:${{ github.base_ref || github.ref_name }}" docker-compose.override.yml
          docker-compose pull web
          docker-compose up -d web
