on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "pip"
          cache-dependency-path: "requirements/*"
      - run: pip install -c requirements/constraints.txt black flake8
      - name: Run black
        run: black --check dv/
      - name: Run flake8
        if: ${{ !cancelled() }}
        run: flake8 dv/
