{% set IS_DEV = (opts['id'] == 'dev') %}

{% set _root = pillar['root_dir'] %}
{% set settings = {
  'user': pillar['user'],
  'group': pillar['group'],
  'www_user': pillar['www_user'],

  'repo': pillar['repo'],

  'project_name': pillar['project_name'],
  'hostname': pillar['hostname'],

  'root_dir': _root,
  'repo_dir': salt['file.join'](_root, 'repo'),
  'webroot_dir': salt['file.join'](_root, 'webroot'),
  'venv_dir': salt['file.join'](_root, 'venv'),
  'etc_dir': salt['file.join'](_root, 'etc'),
  'run_dir': salt['file.join'](_root, 'run'),
  'log_dir': salt['file.join'](_root, 'log'),
} %}
