{% set IS_DEV = (opts['id'] == 'dev') %}

{% set _root = pillar['root_dir'] %}
{% set settings = {
  'root_dir': _root,
  'user': pillar['user'],
  'project_name': pillar['project_name'],
  'repo_dir': salt['file.join'](_root, 'repo'),
  'webroot_dir': salt['file.join'](_root, 'webroot'),
  'venv_dir': salt['file.join'](_root, 'venv'),
  'etc_dir': salt['file.join'](_root, 'etc'),
  'run_dir': salt['file.join'](_root, 'run'),
  'log_dir': salt['file.join'](_root, 'log'),
} %}
